/* susy grids: http://susy.oddbird.net/guides/reference/ */
$base-font-size: 10px;
$total-columns: 10;
$column-width: 15em;
$gutter-width: 1em; /* space between columns */
$grid-padding: 0; /* padding on left and right of grid container */
$container-style: fluid;

/* grid columns at different viewport sizes
   see: http://susy.oddbird.net/guides/reference/#ref-media-layouts */
$media-layout: 10;
$media-layout: 8 $bp-small-width;
$media-layout: 10 lt-ie9;

#wrapper {
  width: 100%;
  overflow-x: hidden;
  background: inherit;
  position: relative;
}

#app {
  @include container;

  width: 100%;
  position: relative;
  z-index: 10;
  background: inherit;
  left: 0;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);

  text-align: left;

  #header {
    height: 150px;
    clear: both;
    display: block;
    @include box-shadow(0 4px 4px rgba(0,0,0,0.2));
    margin: 0 0 10px 0;
    position: relative;
  }

  #main {
    @include span-columns(8, 10);
    @include box-shadow(4px 0px 4px -2px rgba(0,0,0,0.2));
    min-height: 580px;
    position: relative;
  }

  #sidebar {
    @include span-columns(2 omega, 10);
    background: chuck-norris;
  }

  #footer {
    clear: both;
    display: block;
    height: 80px;
    @include box-shadow(inset 0 4px 4px rgba(255,255,255,0.2));
    background-color: #3B3E3E;
    text-align: left;
    padding: 10px;
  }

  @include at-breakpoint(8 $bp-small-width) {
    $gutter-width: 0;
    @include container;

    #main { width: 100%; margin: 0; }
    #sidebar { display: none; }
    #footer { font-size: 12px; }
  }
}

#app:before{
  position: absolute;
  content: '';
  left: -4px;
  height: 100%;
  width: 4px;
  background: #3B3E3E;
}
#app.open {
  transform: translate3d(250px, 0, 0);
  -webkit-transform: translate3d(250px, 0, 0);
}
