{% extends "base_trips.html" %}

{% block title %}{{ block.super }} | Trips{% endblock %}
{% block contenttitle %}
    Trips
    {% if search_term %}
        like "{{ search_term }}"
    {% endif %}
    <a class="topcoat-button contenttitle-action" href="{% url 'trips:trip_create' %}">Create New</a>
{% endblock %}

{% block content %}
{% if trip_list %}
    <table class='trips'>
    <thead>
        <tr>
            <th>Name 
                <form class="compactform" method="get" action="{% url 'trips:index' %}">
                    <input type="search" name="q" value="{{ search_term }}" placeholder="search" class="topcoat-search-input"/>
                    <button class="nojs-only" type="submit" class="topcoat-button">Go</button>
                </form>
            </th>
            <th># Departures</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for trip in trip_list %}
        <tr>
            <td><a href="{% url 'trips:trip_detail' trip.id %}">{{ trip.name }}</a></td>
            <td>{{ trip.tripdeparture_set.count }}</td>
            <td>
                <div class="topcoat-button-bar">
                    <div class="topcoat-button-bar__item">
                        <a class="topcoat-button-bar__button" href="{% url 'trips:trip_detail' trip.id %}">View</a>
                    </div>
                    <div class="topcoat-button-bar__item">
                        <a class="topcoat-button-bar__button" href="{% url 'trips:trip_update' trip.id %}">Edit</a>
                    </div>
                    <div class="topcoat-button-bar__item">
                        <a class="topcoat-button-bar__button" href="{% url 'trips:trip_delete' trip.id %}">Delete</a>
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

    {% if search_term %}
        {% url 'trips:index_search' q=search_term as the_url %}
        {% include "trips/partials/pagination_links.html" with page_obj=page_obj url_value=the_url is_paginated=is_paginated only %}
    {% else %}
        {% include "trips/partials/pagination_links.html" with page_obj=page_obj url_name='trips:index' is_paginated=is_paginated only %}
    {% endif %}

{% elif search_term %}
    <p>No trips exist for that search term. 
        Try <a href="{% url 'trips:trip_create' %}">creating one</a> now, 
        or <a href="{% url 'trips:index' %}">searching again</a>.
    </p>
{% else %}
    <p>No trips exist. Try <a href="{% url 'trips:trip_create' %}">creating one</a> now.</p>
{% endif %}
{% endblock content %}
