{% extends "base_trips.html" %}

{% block title %}{{ block.super }} | Trips{% endblock %}
{% block contenttitle %}
    Trips
    <a class="topcoat-button contenttitle-action" href="{% url 'trips:trip_create' %}">Create New</a>
{% endblock %}

{% block content %}
{% if trip_list %}
    <table class='trips'>
    <thead>
        <tr>
            <th>Name <input type="search" name="q" value="" placeholder="search" class="topcoat-search-input"/></th>
            <th># Departures</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for trip in trip_list %}
        <tr>
            <td><a href="{% url 'trips:trip_detail' trip.id %}">{{ trip.name }}</a></td>
            <td>{{ trip.tripdeparture_set.count }}</td>
            <td>
                <div class="topcoat-button-bar">
                    <div class="topcoat-button-bar__item">
                        <a class="topcoat-button-bar__button" href="{% url 'trips:trip_detail' trip.id %}">View</a>
                    </div>
                    <div class="topcoat-button-bar__item">
                        <a class="topcoat-button-bar__button" href="">Edit</a>
                    </div>
                    <div class="topcoat-button-bar__item">
                        <a class="topcoat-button-bar__button" href="{% url 'trips:trip_delete' trip.id %}">Delete</a>
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% else %}
    <p>No trips exist. Try <a href="{% url 'trips:trip_create' %}">creating one</a> now.</p>
{% endif %}
{% endblock content %}
