{% extends "base_trips.html" %}

{% block title %}
    {{ block.super }} | 
    {% if trip %}Edit {{ tripdeparture }}{% else %}New Trip Departure{% endif %}
{% endblock %}
{% block contenttitle %}
    {% if trip %}Edit {{ tripdeparture }}{% else %}New Trip Departure{% endif %}
{% endblock %}

{% block content %}
{% if tripdeparture and tripdeparture.id %}
<form method="post" action="{% url 'trips:departure_update' tripdeparture.id %}">
{% else %}
<form method="post" action="{% url 'trips:departure_create' %}">
{% endif %}
{% csrf_token %}
{{ form.non_field_errors }}
<div class="formfield">
    <label for="id_start_date">Trip:</label>
    {{ form.trip }}
</div>
<div class="formfield">
    <label for="id_start_date">Start Date:</label>
    {% include "trips/partials/departure_start_date_field.html" with start_date=form.start_date.value errors=form.start_date.errors only %}

    {% if trip and trip.id %}
        <input type="hidden" name="{{ form.id.html_name }}" value="{{ form.id.value }}"/>
    {% endif %}
    <button class="topcoat-button--large--cta" type="submit">
        {% if tripdeparture and tripdeparture.id %} Update {% else %} Create {% endif %}
    </button>
    {% if form.name.errors %}
    <div class="topcoat-notification">
        {{ form.name.errors }}
    </div>
    {% endif %}

    {% if tripdeparture and tripdeparture.id %}
        <input type="hidden" name="id" value="{{ tripdeparture.id }}" />
    {% endif %}
</div>

</form>
{% endblock content %}
