{% extends "base_trips.html" %}

{% block title %}{{ block.super }} | {{ trip.name }}{% endblock %}
{% block contenttitle %}
    {{ trip.name }}
    <a class="topcoat-button contenttitle-delete" href="{% url 'trips:trip_delete' trip.id %}">Delete</a>
{% endblock %}

{% block content %}
<h2>Departures</h2>
{% if trip.tripdeparture_set.all %}
    {% include "trips/partials/departure_list.html" with departure_list=trip.tripdeparture_set.all hide_trip=True only %}
{% else %}
    <p>This trip has no departures yet. Try <a href="{% url 'trips:departure_create' trip.id %}">creating one</a> now.</p>
{% endif %}
{% endblock content %}
