{% extends "base_trips.html" %}

{% block title %}{{ block.super }} | {{ trip.name }}{% endblock %}
{% block contenttitle %}
    {{ trip.name }}
    <a class="topcoat-button contenttitle-delete" href="{% url 'trips:trip_delete' trip.id %}">Delete</a>
{% endblock %}

{% block content %}
<h2>Departures</h2>
{% if trip.tripdeparture_set.all %}
    {% include "trips/partials/departure_list.html" with departure_list=trip.tripdeparture_set.all hide_trip=True only %}
{% else %}
    <p><em>This trip has no departures yet.</em></p>
{% endif %}

<form method="post" action="{% url 'trips:departure_create' %}">
{% csrf_token %}
<div class="formfield">
    {% include "trips/partials/departure_start_date_field.html" with start_date="" only %}
    <input type="hidden" name="trip" value="{{ trip.id }}"/>
    <button class="topcoat-button--large--cta" type="submit">Create Departure</button>
</div>
</form>
{% endblock content %}
