/* http://www.colourlovers.com/palette/418592/BazzleBazzle */
$color-whenyouare: #13131F;
$color-chinchilla: #2E2331;
$color-avenged: #02020E;
$color-parieswinkle: #86AECC;
$color-parieslight: #D4E4EF;
$color-kennycrath: #262630;
$color-backface: #F4F4F4;


body.light {
  background: #F4F4F4;
}
body.dark {
  color: #F0F1F1;
  background: #4A4D4E;
}
body.light {
  color: #181919;
}

/* Main Header */
#header {
  color: #373435;
  background: #fff;
  height: 98px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 20px;
  position: relative;
}
#header hgroup {
  text-align: center;
}
#header hgroup h1 {
  font-size: 40px;
  margin: 5px 0 0;
  letter-spacing: -.065em;
  line-height: 1.1em;
}
#header hgroup a {
  color: #464646;
  text-decoration: none;
}
#header hgroup a:hover {
  color: #000;
}
#header hgroup p {
  font-size: 13px;
  color: #999;
  margin: 0;
}
#header nav {
  display: none;
}

#contenttitle {
    font-size: 40px;
    margin-bottom: 0.5em;
}
.contenttitle-action {
    margin-top: 15px;
}
#main header h2 {
  font-weight: 300;
  margin: 10px 0 25px;
  font-size: 20px;
  position: relative;
  display: inline-block;
  padding-right: 10px;
}
body.light #main header h2 {
  background: #F4F4F4;
}
body.dark #main header h2 {
  background: #4A4D4E;
}
#main header{
  position: relative;
}
#main header:before {
  content: '';
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 23px;
}
body.light #main header:before {
  border-bottom: 1px solid #E0E0E0;
}
body.dark #main header:before {
  border-bottom: 1px solid #58595A;
}
/* sidebar */
#sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sidebar li a {
  color: #F0F1F1;
  display: block;
  height: 46px;
  font-size: 16px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px 0 0 20px;
  text-decoration: none;
}
#sidebar nav.site, #sidebar .combo {
  border-bottom: 1px solid #58595A;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  display: block;
}
#pageNav li {
  border-bottom: 1px solid #58595A;
}
#pageNav .selected {
    color: #373435;
}

@media screen and (min-width: 650px) {
  #app.open {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  #header nav {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 40px;
  }
  #header ul {
    list-style: none;
  }
  #header nav li {
    display: inline-block;
    margin: 0 18px;
  }
  #header nav li a {
    text-decoration: none;
    font-size: 20px;
    color: #7F7F7F;
  }
  #header nav li.selected a {
    color: #373435;
  } 
  #slide-menu-button{
    display: none;
  }
  #header hgroup {
    text-align: left;
    position: absolute;
    display: inline-block;
    top: 24px;
  }
  #header hgroup h1 {
    font-size: 60px;
  }
  #header hgroup p {
    font-size: 15px;
  }
  #header {
    color: #373435;
    background: #fff;
    height: 148px;
  }
  #sidebar nav.site {
    display: none;
  }
  #sidebar .combo {
    border-bottom: none;
    padding: 36px 0;
  }
  #sidebar li a {
    padding: 12px 0 0 10px;
  }
  body.light #sidebar li a {
    color: #797B7B;
  }
  body.light #sidebar .selected {
    color: #373435;
    font-weight: bold;
  }

  body.light #pageNav li {
    border-bottom: 1px solid #E0E0E0;
  }
}
@media screen and (min-width: 880px) {
  #sidebar li a {
    display: block;
    height: 60px;
    padding: 22px 0 0 10px;
    text-decoration: none;
  }
  #main header h2 {
    font-size: 28px;
  }
  #main header:before {
    top: 30px;
  }
  .max-width {
    max-width: 1180px;
    position: relative;
    margin: 0 auto;
  }
  header#header .max-width {
    top: -10px;
  }
  #header nav li a {
    font-size: 22px;
  }
  #header nav {
    display: inline-block;
  }

  #header nav li {
    margin: 0 25px;
  }
  #header nav li:last-child {
    margin-right: 0;
  }
}
