@font-face {
  font-family: "Source Sans";
  src: font-url("SourceSansPro-Regular.otf");
}

@font-face {
  font-family: "Source Sans";
  src: font-url("SourceSansPro-Light.otf");
  font-weight: 200;
}

@font-face {
  font-family: "Source Sans";
  src: font-url("SourceSansPro-Semibold.otf");
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
  background: #dfe2e2;
  color: #000;
  font: 16px "Source Sans", helvetica, arial, sans-serif;
  font-weight: 400;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

strong { font-weight: bold; }

