{% comment %} 
/**
 * Displays a table list of departures with actions
 *
 * @param departure_list (TripDeparture) The query set to iterate over
 * @param hide_trip (bool) True to hide the trip name from the list, otherwise each row displays the trip name
 */
{% endcomment %}

{% if departure_list %}
    <table class='departures'>
    <thead>
        <tr>
            <th>Start Date</th>
            {% if not hide_trip %}
                <th>Trip</th>
            {% endif %}
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for dep in departure_list %}
        <tr>
            <td>{{ dep.start_date|date:"D, N j, Y" }}</td>
            {% if not hide_trip %}
                <td><a href="{% url 'trips:trip_detail' dep.trip.id %}">{{ dep.trip.name }}</a></td>
            {% endif %}
            <td>
                <div class="topcoat-button-bar">
                    <div class="topcoat-button-bar__item">
                        <a class="topcoat-button-bar__button" href="{% url 'trips:departure_update' dep.id %}">Edit</a>
                    </div>
                    <div class="topcoat-button-bar__item">
                        <a class="topcoat-button-bar__button" href="{% url 'trips:departure_delete' dep.id %}">Delete</a>
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
  {% endif %}
