{% comment %} 
/**
 * Displays pagination links for a ListView
 *
 * @param is_paginated (bool) True if the list has been pagination and paging links are needed
 * @param page_obj (Paginator) The paginator object
 * @param url_name (string) The url name used for constructing page links
 */
{% endcomment %}

{% if is_paginated %}
    {% load trips_filters %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a class="topcoat-button" href="{% url url_name page_obj.previous_page_number %}">&laquo; prev</a>
            {% endif %}
            <span class="page-current">
                Page 
                <form method="get" action="{% url url_name %}" class="compactform">
                    <select class="page-jumpto" size="1">
                    {% for page_num in page_obj.paginator.num_pages|get_range %}
                        <option {% if page_num|add:"1" == page_obj.number %}selected="selected" {% endif %}value="{{ page_num|add:'1' }}">{{ page_num|add:"1" }}</option>
                    {% endfor %}
                    </select>
                    of {{ page_obj.paginator.num_pages }}.
                    <button type="submit" class="topcoat-button nojs-only">Go</button>
                </form>
            </span>
            {% if page_obj.has_next %}
                <a class="topcoat-button" href="{% url url_name page_obj.next_page_number %}">next &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endif %}
